<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
/>
<title>
  {% if page.title == "Blog" %} {{ site.blog.meta_title }} {% else %} {{
  site.blog.title }} | {% endif %} {% if page.title == "Blog" %} {{ site.tagline
  }} {% else %} {% if page.tag %} {{ site.data.tags[page.tag].name }} {% else %}
  {{ page.title }} {% endif %} {% endif %}
</title>

{% if page.tags %}<meta
  name="keywords"
  content="{{ page.tags | join: ', ' }}"
/>{% endif %}
<link
  rel="canonical"
  href="{{ page.url | replace:'index.html','' | prepend: site.url }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css"
/>

{% if page.title %} {% assign title = page.title ~ ' - ' ~ page.subtitle %} {%
else %} {% assign title = site.blog.title %} {% endif %} {% if page.description
%} {% assign description = page.description %} {% else %} {% assign description
= site.blog.description %} {% endif %} {% if page.keywords %} {% assign keywords
= page.keywords %} {% else %} {% assign keywords = site.keywords %} {% endif %}
{% if page.cover %} {% assign cover = page.cover %} {% else %} {% assign cover =
site.cover %} {% endif %} {% if page.title == "Blog" %}
<meta property="og:image" content="../../uploads/default.png" />
<meta property="og:title" content="김맥스 기술 블로그" />
<meta property="twitter:title" content="김맥스 기술 블로그" />
{% endif %}

<!-- Styles -->

<link rel="stylesheet" href="{{ "assets/vendor/normalize-css/normalize.css" |
relative_url }}"> <link rel="stylesheet" href="{{ "assets/css/main.css" |
relative_url }}"> {% if site.blog.inline_footnotes == true %} <link
rel="stylesheet" href="{{ "assets/css/bf.css" | relative_url }}"> {% endif %}

<style>
  html {
    font-family: {{ site.blog.font }};
  }
</style>
