<div class="header-wrapper">
  <header>
    <div class="menu">
      <div class="logo">
        <a href="{{ '/' | prepend: site.baseurl }}"
          >{{ site.blog.title }}</a
        >
      </div>
     

        <!-- <li>
          <a href="{{ '/' | prepend: site.baseurl }}">blog</a>
        </li> -->
       
        <!-- <li><a href="{{ '/tag' | prepend: site.baseurl }}">tags</a></li>
        <li><a href="{{ '/archive' | prepend: site.baseurl }}">archive</a></li> -->
   
    </div>

    <div class="social">
      <a href="{{ '/about' | prepend: site.baseurl }}" style="margin-right:0.5rem">About</a>
      <a href="#" onclick="switchTheme()" title="Switch theme?">
        <span class="icon-invert_colors" id="theme-switcher"></span>
      </a>
    </div>
  </header>
</div>

