{% assign post = include.post %}

<article class="post">
  {% if site.blog.hero_layout == true %} {% include utils/hero.html %} {% endif
  %}

  <!-- Post title (& hero image) container -->
  <div
    class="post-title-container
  {% if site.blog.hero_layout == true %}
  {{ post.url | remove: '/posts/' }} {{ post.url | remove: '/posts/' }}-bleed-container bleed-hero-container
    {% else %}
  no-hero-margin
  {% endif %}"
  >
    <!--Post hero image source-->
    {% if site.blog.hero_layout == true %} {% endif %}
    <!-- Post title -->
    <div
      class="heading-container {% if site.blog.hero_layout == true %}hero-heading hero-heading-post{% endif %}"
    >
      <h1>
        {% if post.link != nil %}
        <a href="{{ post.link }}" title="{{ post.title }}" target="_blank">
          {% endif %} {{post.emoji}} {{ post.title }} {% if post.link != nil %}
          &rarr;
        </a>
        {% endif %}
      </h1>
      <!-- Post meta -->
      <div class="post-meta">
        <span> {{ post.date | date: "%Y/%m/%d" }} </span>
        <!-- {% include utils/date_custom.html date = post.date %} -->
        <span>
          {% for tag in post.tags %}
          <a href="{{ 'tag/' | relative_url }}{{ tag }}">#{{ tag }}</a>
          {% endfor %}
        </span>
      </div>
    </div>
  </div>

  <!-- Post content -->
  {{ post.content | remove: '&lt;!–-break-–&gt;' }}
</article>

<div class="post-pagination">
  {% if page.previous.url %}

  <div class="post-pagination-content">
    <div class="prev">
      <div class="post-pagination-block prev">이전글</div>
    </div>
    <a class="prev" href="{{page.previous.url}}"
      >&laquo; {{page.previous.title}}</a
    >
  </div>

  {% endif %} {% if page.next.url %}
  <div class="post-pagination-content">
    <div class="next">
      <div class="post-pagination-block next">다음글</div>
    </div>
    <div class="next">
      <a href="{{page.next.url}}"> {{page.next.title}} &raquo;</a>
    </div>
  </div>
  {% endif %}
</div>
