// Articles / posts
//-------------------------------

.whole-post {
  display: flex;
  justify-content: center;
  div {
    margin-bottom: 3rem;
    font-size: 1rem;
    background-color: black;
    color: #ffffff;
    display: inline-block;
    padding: 0px 20px;
    margin-right:1rem;
  }
}

article {
  &.blog {
    margin-bottom: 2em;

    &:last-of-type {
      margin-bottom: 6em;
    }

    p {
      margin-bottom: 0.5rem;
    }
  }

  &.post {
    margin-bottom: 4em;
  }

  p {
    margin-top: 0;
    margin-bottom: 1.5rem;
    word-wrap: break-word;

    &.lead {
      font-size: $lead-font-size;
      margin-bottom: 1rem;
    }

    a {
      border-bottom: 0.09em solid var(--link-color);
    }
  }

  // resets for lists inside articles
  li ul {
    // reset which allows <ul>/<ol> nesting
    margin-bottom: 0;
  }
  li + li {
    // aligns them nicely
    margin-top: 0rem;
  }
}

.post-pagination {
  margin-top: 1rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  .post-pagination-block {
    background-color: black;
    color: white;
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
    display: inline;
  }

  .next {
    text-align: right;
  }

  .prev {
    text-align: left;
  }
}

// Bleed image class
.oversize {
  margin: 2.5rem 0 2.5rem -15%;
  max-width: 130%;
}
@media (max-width: 48rem) {
  .oversize {
    margin: inherit;
    max-width: 100%;
  }
  .whole-post {
    text-align: center;
    display: block;
  }
  .post-pagination {
    font-size: 0.8rem;
  }

  .post-pagination-content {
    margin-bottom: 1rem;
  }
}

@media (max-width: 415px) {
  .post-pagination {
    margin: 0;
    flex-direction: column;
    font-size: 1rem;
  }
  .post-pagination-content {
    text-align: center;
    flex-direction: column;
  }

  .next {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .prev {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
