// Base
//-------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
}
::selection {
  color: var(--bg-color);
  background-color: var(--text-color);
}

body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.page {
  margin-bottom: 8em;
}
.content-wrapper {
  max-width: 50rem;
  margin: 8rem auto 1rem auto;
  min-height: 600px;
}

@media (max-width: 48rem) {
  body {
    font-size: $mobile-font-size;
  }
  .content-wrapper {
    width: 90%;
    margin: 7rem auto 2rem auto;
  }
}

// Links and paragraphs
//-------------------------------

a,
.a {
  color: var(--link-color);
  text-decoration: none;

  &:hover,
  &:focus {
    border-bottom: 0.15em solid;
  }
  strong {
    color: inherit;
  }
}

// Headings
//-------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: $base-font-weight-bold;
  line-height: 1.1;
  color: var(--text-color);
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  line-height: 3rem;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 2.1rem;
}

h3 {
  margin-top: 1.2rem;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

h4,
h5,
h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

b,
strong {
  color: var(--text-color);
}

dt {
  font-weight: $base-font-weight-bold;
}

dd {
  margin-bottom: 0.5rem;
}

abbr {
  font-size: 85%;
  font-weight: $base-font-weight-bold;
  color: var(--text-color);
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted var(--text-color-light);
  }
}

strong {
  color: var(--text-color);
}

// Lists, blockquotes
//-------------------------------

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

// HR, IMG
//-------------------------------

hr {
  margin-bottom: 4em;
  max-width: 30%;
  border: 0.1em solid var(--shadow-color);
}

img {
  margin: 2.5rem auto;
  display: block;
  max-width: 100%;
}
