//-------------------------------
// Blockquotes
//-------------------------------

blockquote {
  padding: 1rem 1rem;
  margin: 0 0 2rem -1rem;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  background-color: var(--table-border-color);
  color: var(--text-color);
  border-left: 3px solid var(--text-color-light);

  p:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 48rem) {
  blockquote {
    margin: 0 0 1rem 0;
  }
}
