// Footer
//-------------------------------

footer {
  font-size: 0.6em;
  color: var(--text-color);
  background-color: var(--footer-bg-color);
  line-height: $base-line-height;
  border-top: 1.3px solid #cecece;
  position: absolute;
  left: 0;
  width: 100%;
  .footer-wrapper {
    margin: 2rem auto;
  }
  .footer-title {
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
  }

  .footer-content-copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: 0.6rem;
    a {
      display: inline;
    }
  }
}

@media (max-width: 48rem) {
  .footer-content-copyright {
    flex-direction: column;
  }
}

#disqus_thread {
  margin: 100px 0px;
}
