// Footer
//-------------------------------

footer {
  font-size: 0.6em;
  color: var(--text-color-light);
  text-align: center;
  line-height: $base-line-height;
  margin: 2rem 0;
}

#disqus_thread {
  margin-top: 100px;
}
