// Header
//-------------------------------

.header-wrapper {
  position: fixed;
  top:0;
  width:100%;
  padding: 0.6rem 0;
  border-bottom: 1px solid var(--text-color);
  background-color: var(--bg-color);
  z-index: 10;
}


header {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  width: 89%;
}

.logo {
  font-size: 2rem;
  font-weight: $base-font-weight-bold;
  color: var(--link-color);
  .logosvg {
    height: 2.7rem;
  }
}

.logo,
.menu,
.social {
  display: flex;
  align-items: center;
}

.menu {
  text-align: center;

  ul {
    margin-left:1rem;
    width: inherit;
    list-style-type: none;
    margin-bottom: 0rem;
    padding: 0rem;
  }
  li {
    display: inline-block;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0px;
    }
    a {
      color: var(--text-color-light);
      font-size: 14px;
      font-weight: $base-font-weight;
      display: block;
      .smaller {
        font-size: 0.85em;
      }
    }
  }
}

// Social icons
.social {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
  }
  li a {
    display: block;
    color: var(--text-color-light);
    text-align: center;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    &:focus {
      border: none;
      &:focus:hover {
        border-bottom: 0.1em solid;
      }
    }
  }
}

@media (max-width: 1004px) {
  .header-wrapper {
    padding: 0.5rem 0;
  }
  header {
    width: 100%;
    padding: 0 1rem;
  }
}
