// Header
//-------------------------------

.header-wrapper {
  position: fixed;
  top:0;
  width:100%;
  padding: 0.6rem 0;
  // border-bottom: 2px solid var(--text-color-light);
  background-color: var(--bg-color);
  z-index: 10;
  -webkit-box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.05); 
  box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.05);
}


header {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 1rem;

}

.logo {
  font-size: 2rem;
  font-weight: $base-font-weight-bold;
  color: var(--link-color);
  .logosvg {
    height: 2.7rem;
  }

  .title-big {
    display: block;
  }

  .title-small {
    display: none;
  }
}

.logo,
.menu,
.social {
  display: flex;
  align-items: center;
}

.menu {
  text-align: center;

  ul {
    margin-left:1rem;
    width: inherit;
    list-style-type: none;
    margin-bottom: 0rem;
    padding: 0rem;
  }
  li {
    display: inline-block;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0px;
    }
    a {
      color: var(--text-color-light);
      font-size: 14px;
      font-weight: $base-font-weight;
      display: block;
      .smaller {
        font-size: 0.85em;
      }
    }
  }
}

// Social icons
.social {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
  }
  a {
    display: block;
    color: var(--text-color-light);
    text-align: center;
    font-size: 1.2rem;
    margin-left: 1rem;

    > span {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

@media (max-width: 1004px) {
  header {
    width: 100%;
  }
}

