.mdx-post h1 {
  font-size: 24px;
  font-weight: 550;
  margin-top: 44px;
  margin-bottom: 32px;
}

.mdx-post h2 {
  font-size: 20px;
  font-weight: 550;
  margin-top: 40px;
  margin-bottom: 28px;
}
.mdx-post h3 {
  font-size: 22px;
  font-weight: 550;
  margin-top: 36px;
  margin-bottom: 24px;
}

.mdx-post h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 32px;
  margin-bottom: 20px;
}

.mdx-post h5 {
  font-size: 18px;
  font-weight: 500;
  margin: 24px 0;
}

.mdx-post p {
  font-size: 16px;
  font-weight: 400;
  margin: 28px 0;
  line-height: 1.7;
  word-break: 'break-word';
  letter-spacing: 0.3px;
  @media (max-width: 750px) {
    font-size: 15px;
  }
}

.mdx-post a {
  text-decoration: underline;
  text-underline-offset: 4.5px;
  text-decoration-color: var(--anchor-underline-color);
}

.mdx-post a:hover {
  text-decoration: underline;
  text-underline-offset: 4.5px;
  text-decoration-thickness: 2px;
}

.mdx-post img {
  width: 100%;
  height: auto;
}

.mdx-post strong {
  font-weight: 550;
}

.mdx-post ul {
  list-style: inside;
  font-size: 16px;
  line-height: 1.8;
  padding-left: 4px;
  @media (max-width: 750px) {
    font-size: 15px;
  }
}

.mdx-post ol {
  list-style: inside;
  list-style-type: decimal;
  font-size: 16px;
  line-height: 1.8;
  padding-left: 4px;
  @media (max-width: 750px) {
    font-size: 15px;
  }
}

.mdx-post ol ol,
ul ol,
ul ul,
li ul,
li ol,
ul ol {
  padding: 0 !important;
  margin-left: 30px;
  border: none !important;
}

li::marker {
  margin-right: 3px;
}

.mdx-post li {
  margin: 6px 0;
}

.mdx-post li code,
p code {
  font-style: italic;
  background-color: var(--code-quote-background-color);
  border-radius: 5px;
  font-size: 15px;
  padding: 1px 3px;
  font-weight: 350;
  letter-spacing: 1.5px;
  word-break: break-all;
}

.mdx-post blockquote {
  margin: 30px 0;
  padding: 0px 18px;
  border-left: 3px solid var(--code-quote-blockquote-border-color);

  word-break: break-all;
  background-color: var(--blockquote-background-color);
}

.mdx-post blockquote p {
  padding: 12px 0px;
  font-size: 16px;
  @media (max-width: 750px) {
    font-size: 15px;
  }
}

.mdx-post blockquote code {
  font-style: normal;
  background-color: var(--blockquote-code-background-color);
  font-size: 15px;
  @media (max-width: 750px) {
    font-size: 14px;
  }
}

.mdx-post .pic-description {
  text-align: center;
  margin-bottom: 60px;
}

deckgo-highlight-code > div.container {
  font-size: 200px;
}
