<nav class="pagination" role="navigation">
  <ul>
    <li class="pagination-item-prev">
      {% if paginator.previous_page %} {% if paginator.page == 2 %}
      <a rel="prev" href="{{ site.baseurl }}/">&laquo; 이전</a>
      {% else %}
      <a rel="prev" href="{{ site.baseurl }}/page-{{paginator.previous_page}}/"
        >&laquo; 이전</a
      >
      {% endif %} {% else %}
      <span>&laquo; 이전</span>
      {% endif %}
    </li>

    <li class="pagination-item-next">
      {% if paginator.next_page %}
      <a rel="next" href="{{ site.baseurl }}/page-{{paginator.next_page}}/"
        >다음 &raquo;</a
      >
      {% else %}
      <span>다음 &raquo;</span>
      {% endif %}
    </li>
  </ul>
</nav>
